.idea/
.vscode/
.*.kak.*
*.kate-swp
build/
_build/
*.sublime-project
*.sublime-workspace
cmake-build*/
.ccls-cache/
.clj-kondo/
.lsp/
build-*-Debug/
README.tex
README.pdf
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.toc
.Rproj.user
.scala-build/
.bsp/
.metals/
*.asv
deno.lock
